{# {% extends '::base.html.twig' %} #}
{% block body -%} 

    <h1>Туры по городам Украины</h1>

    <ul>
        {% for id,cdata in entities %}
            <li><a href="{{ path('city_show', { 'id': id }) }}">{{ cdata.name }} </a>
                <ul>

                  {% for tid,tdata in cdata.tour %}
				    <li>
				    <a href="{{ path('tour_show', { 'id': tid }) }}">{{ tdata.name }} </a>
					</li>
                  {% endfor %}
				  
                </ul> 
				

	    </li>
        {% endfor %}
		
       </ul>
        <ul>
        <li>
            <a href="{{ path('city_new') }}">
                Добавить город
            </a>
        </li>
    </ul>

 {% endblock %} 
