{# {% extends '::base.html.twig' %} #}

{% block body -%}
    <h1>Category</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ entity.category }}</td>
            </tr>
            <tr>
                <th>Info</th>
                <td>{{ entity.info }}</td>
            </tr>
        </tbody>
    </table>
		 <h2>Туры в категории {{entity.category}}:</h2> 
    <ul>

    {% for tid,tdata in tours %}
		<li>
			<a href="{{ path('tour_show', { 'id': tdata.id }) }}">{{ tdata.name }} </a>
		</li>
    {% endfor %}

        <ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('category_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('category_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
